/* $Id: elastic_email.admin.css,v 1.1 2010/12/09 05:35:44 neilotoole Exp $ */

/**
 * @file
 * Styles for the Elastic Email configuration screen.
 */

input#edit-test-config-button {
  margin-bottom: 5px;
  margin-right: 5px;
}

div#elastic-email-test-wrapper {
  display: inline-block;
  padding-left: 2px;
	
}

div#elastic-email-test-wrapper .success {
  color: green;
}

div#elastic-email-test-wrapper .fail {
  color: red;
}